.header-main-div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(49, 48, 48);
    align-items: center;
    padding: 18px 10px 18px 10px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 12px;
    box-shadow: 0px 2px 20px rgb(255, 128, 0);
}
.header-middle-div
{
    margin-inline-start: 225px;
    margin-inline-end: 200px;
    display: flex;
    justify-content: space-around;
    flex: 1;

}
span
{
    font-family: Roboto;
    font-size: 16px;
    transition: color 0.25s, font-size 0.25s;
}
span:hover
{
    font-size: 20px;
    color: rgb(255, 128, 0);
    cursor: pointer;
}
.button
{
    background-color: rgb(255, 128, 0);
    color: white;
    padding: 6px 10px 6px 10px;
    font-weight: 700;
    font-family: Roboto;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 128, 0);
    cursor: pointer;
    margin-left: 5px;
    transition: background 0.25s, color 0.25s, border 0.25s;
}
button:hover
{
    color: rgb(255, 128, 0);
    background-color: white;
    border-color: white;
    box-shadow: 2px 2px 5px rgb(255, 128, 0);
}
.side-panel-main-div
{
    background-color: lightblue;
}
p
{
    color: white;
    font-family: Roboto;
    font-size: 36px;
}
.caption2
{
    color: rgb(255, 128, 0);
    font-family: Roboto;
    font-size: 22px;
}
.body-button
{
    background-color: rgb(255, 128, 0);
    color: white;
    padding: 10px 20px 10px 20px;
    font-weight: 900;
    font-family: Roboto;
    font-size: 18px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 128, 0);
    cursor: pointer;
    margin-left: 15px;
    transition: background 0.25s, color 0.25s, border 0.25s;
    margin-top: 20px;
}
.body-button:hover
{
    color: rgb(255, 128, 0);
    background-color: white;
    border-color: white;
    box-shadow: 2px 2px 5px rgb(255, 128, 0);
}
.footer-main-div
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(49, 48, 48);
    color: white;
    padding: 18px 10px 18px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(255, 128, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.visitButton
{
    background-color: rgb(255, 128, 0);
    color: white;
    padding: 5px 15px 5px 15px;
    font-weight: 700;
    font-family: Roboto;
    font-size: 16px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(255, 128, 0);
    cursor: pointer;
    transition: background 0.25s, color 0.25s, border 0.25s;
    transition: padding 0.25s;
    margin-top: 20px;
    margin: 10px;
}
.visitButton:hover
{
    color: rgb(255, 128, 0);
    background-color: white;
    border-color: white;
    padding: 5px 30px 5px 30px;
}
.tabs
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 60px;
    margin-top: 50px;
}
.inner-div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: rgb(49, 48, 48);
    border-radius: 20px;
    box-shadow: 2px 2px 50px black;
    transition: box-shadow 0.25s;
    cursor: pointer;
}
.inner-div:hover
{
    box-shadow: 2px 2px 20px rgb(255, 128, 0) ;
}